*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-image:  -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/styles/imgs/hero.jpg);
  background-position: center;
	/*100% of the viewport*/
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain, cover;
  background-attachment: fixed;
  margin: 0;
}

/*-------------------------------*/
/*    Global Elements
/*-------------------------------*/
.ion {
  width: 20px;
  height: 20px;
}
fieldset {
  /* margin-top: 15px; */
  padding: 15px;
  border: 5px solid rgb(42, 59, 212);
  color: rgb(238, 122, 13);  
}

fieldset legend {
  border: 5px solid rgb(42, 59, 212);
  padding: 5px 10px;
  font-size: 26px;

}

input {
  display: block;
}

strong {
  color: rgb(238, 122, 13);  
}

legend {
  overflow: hidden;
}

/*-------------------------------*/
/*   Fixed Top Nav
/*-------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(17, 69, 243);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover,
.topnav a:focus {
  background-color: rgb(238, 122, 13);    
  color: #000;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(238, 122, 13);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*-----------------------------------*/
/*   Error or Succes Form Messages 
/*----------------------------------*/
/* .user-name {
  font-size: 24px;
  margin: 20px;
  text-align: center;
} */

.success {
  text-align: center;
}

.error {
  background-color: rgb(216, 100, 100);
}

.success,
.error {
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*-------------------------------*/
/*   Intro Content
/*-------------------------------*/
.intro-title {
  margin-top: 125px;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
  text-shadow:2px 2px rgb(71, 93, 218);
  color: rgb(238, 122, 13);  
  font-weight: 700;
  font-size: 200%;
  text-transform: uppercase;
}

.intro-content {
  line-height: 2.5em;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  font-size: 22px;
  font-weight: 500;
}

.introduction-page {
  text-align: center;
}

.login-btn {
  background-color: rgb(17, 69, 243);
  color: aliceblue;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: rgb(238, 122, 13);  
}

/*-------------------------------*/
/*      Sign Up Form
/*-------------------------------*/
.sign-up-fieldset {
  margin: auto;
  width: 40%;
  height: 500px;
}


.signup-btn {
  background-color: rgb(17, 69, 243);
  color: #E5E5E5;
  padding: 10px;
  font-size: 16px;
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: rgb(238, 122, 13);  
  cursor: pointer;
}
/*-------------------------------*/
/*      Add Exercise Btn
/*-------------------------------*/

.add-exercise-btn {
  background-color: rgb(17, 69, 243);
  color: #E5E5E5;
  padding: 18px;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}

.add-btn-box {
  text-align: center;
}
.add-exercise-btn:hover,
.add-exercise-btn:focus {
  background-color: rgb(238, 122, 13); 
  cursor: pointer;
}

/*-------------------------------*/
/*   Exercise Form
/*-------------------------------*/
.add-video-btn,
.save-exercise-btn,
.delete-exercise-btn {
  color: #E5E5E5;
  background-color: rgb(17, 69, 243);
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 40px;
}

.add-video-btn:hover,
.save-exercise-btn:hover,
.delete-exercise-btn:hover {
  background-color: rgb(238, 122, 13);  
  cursor: pointer; 
}

.add-video-btn:focus,
.save-exercise-btn:focus,
.delete-exercise-btn:focus {
  background-color: rgb(238, 122, 13);  
  cursor: pointer; 
}

.status {
  padding: 2px;
  font-size: 16px;
}

.status:hover,
.status:focus {
  cursor: pointer;
}

.status-col {
  margin: 15px 0px;
}

h5 {
  font-size: 20px;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

input[type='checkbox']:hover,
input[type='checkbox']:focus {
  cursor: pointer;
}

.watchVideo,
.deleteVideo {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(6, 31, 252);
}

watchVideo:hover,
watchVideo:focus,
deleteVideo:hover,
deleteVideo:focus,
 {
  background-color: rgb(238, 122, 13);  
}

/*-------------------------------*/
/*   Login Buttons & Styles
/*-------------------------------*/
.logIn {
  color: #E5E5E5;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  background-color: rgb(17, 69, 243);
}

.logIn:hover,
.logIn:focus {
  background-color: rgb(238, 122, 13);   
}
/*-------------------------------*/
/*   Sign Up Form Style
/*-------------------------------*/
#sign-up-form {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

label {
  color: rgb(238, 122, 13);
  /* margin: 10px; */
  margin-top: 25px;
  padding: 10px;
  font-size: 125%;
}

input {
  margin: 10px;
  padding: 5px;
}

/*----------------------*/
    /*Pop Up Window*/
/*----------------------*/

.popup{
    background-color:black;
    position: absolute;
    border: solid 2px white;
    width: 575px;
    min-height:auto;
    z-index:5000;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}
.overlayBg{
    background-color:#333;
    opacity: 0.5;
    position: absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
}

img {
  margin:10px;
}

p {
  margin: 10px;
}

#output {
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

/* .button-options {
  display: block;
} */

.tokenClass {
  margin-right: 40%;
  margin-left: 40px;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(238, 122, 13);

  color: #E5E5E5;
}

.tokenClass:hover,
.tokenClass:focus {
  cursor: pointer;
  background-color: rgb(6, 31, 252);
}

/*------------------------------------------*/
/*         VideoPicker Style
/*------------------------------------------*/
.vid-picker-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  color:rgb(238, 122, 13);
  text-shadow: 2px 2px  rgb(6, 31, 252);
  font-weight: 700;
  letter-spacing: 0.2em;
}

.vid-picker-content {
  color: #E5E5E5;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-size: 125%;
}

.video-search-input {
  margin: 10px 0px 25px 5px;
}
/*------------------------------------------*/
/* Video Section */
/*------------------------------------------*/
.video {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
}

.video-content {
  padding: 20px;
}

.video-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.video-content p {
  margin: 0.5em 0;
}

.checked {
  color: rgb(238, 122, 13); 
}

.preview-video,
.select-video-btn {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(6, 31, 252);
}

.preview-video:hover,
.preview-video:focus,
.select-video-btn:hover,
.select-video-btn:focus,
 {
  background-color: rgb(238, 122, 13);  
}

/*------------------------------------------*/
/*         YouTube Results Page
/*------------------------------------------*/

.exercise {
  margin-bottom: 30px;
  background-color: rgb(238, 122, 13);
  overflow: hidden;
}

.exercise-show {
  font-size: 20px;
  color: rgb(238, 232, 224);
}

.video-result {
  margin: 2px;
}

.video-result .select-video-btn {
  display: inline;
}

.video-result .unselect-video-btn {
  display: none;
}

/*------------------------------------------*/
/*       BUTTONS -- Video Result
/*------------------------------------------*/

.video-search-btn {
  background-color: rgb(238, 122, 13);  
  padding:8px;
  font-size: 16px;
  color: #E5E5E5;
  text-transform: uppercase;
} 
.closePickerBtn {
  background-color: rgb(228, 88, 88);
  padding: 8px;
  font-size: 16px;
  color: #E5E5E5;
  text-transform: uppercase;
}
.returnToProfileBtn {
  background-color: rgb(6, 31, 252);
  padding: 8px;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  color: #E5E5E5;
  text-transform: uppercase;
} 

.video-search-btn:hover,
.closePickerBtn:hover,
.returnToProfileBtn:hover {
  cursor: pointer;
  border: 3px solid white;
}

.video-search-btn:focus,
.closePickerBtn:focus,
.returnToProfileBtn:focus {
  cursor: pointer;
  border: 3px solid white;
}

.video-result.selected {
  background-color: rgb(238, 122, 13);
}

.video-result.selected .select-video-btn {
  display: none;
}

.video-result.selected .unselect-video-btn {
  display: inline;
}

.video-results {
  margin-top: 35px;
}

.vid-selected {
  opacity: 0.3;
}

/*------------------------------------------*/
/*       Footer
/*------------------------------------------*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* margin-top: 100px; */
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


