*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-image:  -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/styles/imgs/inside-therater.jpg);
  background-position: center;
	/*100% of the viewport*/
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain, cover;
  background-attachment: fixed;
  margin: 0;
}


/*-------------------------------*/
/*    Global Elements
/*-------------------------------*/
.ion {
  width: 20px;
  height: 20px;
}
fieldset {
  padding: 15px;
  border: 5px solid rgb(97, 23, 23);
  color: rgb(238, 122, 13);  
}

fieldset legend {
  background-color: bisque;
  border: 5px solid rgb(138, 15, 15);
  padding: 5px 10px;
  font-size: 26px;
  color: rgb(238, 122, 13);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

strong {
  color: rgb(238, 122, 13);  
}

legend {
  overflow: hidden;
}

/*-------------------------------*/
/*   Fixed Top Nav
/*-------------------------------*/

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(90, 18, 22);
  border-bottom: 8px solid rgb(238, 122, 13);
  overflow: hidden;
  position: relative;
}


nav .nav-container {
  margin-left: 0;
}


/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  color: #E5E5E5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px #000;
  font-size: 17px;
}

a.navShowAllBtn {
  margin-top: 2px;
}

.topnav .nav-username {
  position: absolute;
  right: 0;
  padding-right: 0.5em; 
}

a.logo {
  width: 75px;
  margin-top: -2px;
}

a.nav-username {
  color: rgb(238, 122, 13);
  text-shadow: 1px 1px #4e4b48;
}

/* Change the color of links on hover */
.topnav a:hover,
.topnav a:focus {
  color: rgb(240, 166, 8);
}

.hydrated {
  margin-right: 10px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(238, 122, 13);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  font-size: 26px;
}

/*-----------------------------------*/
/*   Error or Succes Form Messages 
/*----------------------------------*/
div #form-messages {
  display: block;
}

#form-messages,
#comment-messages {
  margin: 0 auto;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(238, 122, 13);
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
  /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
}

div.error {
  margin-top: 1.5em;
  margin-left: 1.5em;
  font-size: 1.5em;
  background-color: rgba(238, 64, 64, 0.473);
  color: #E5E5E5;
  text-align: center;
}

/*-------------------------------*/
/*   Intro Content
/*-------------------------------*/
.intro-title {
  margin-top: 2em;
  margin-bottom: 40px;
  letter-spacing: 0.4em;
  text-shadow:2px 2px rgb(71, 93, 218);
  color: rgb(238, 122, 13);  
  font-weight: 700;
  font-size: 200%;
  text-transform: uppercase;
}

.intro-content {
  line-height: 2.5em;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.introduction-page {
  text-align: center;
}

.loginOrRegisterPrompt a {
  color: rgb(243, 125, 16);
}

.demoLogin{
  text-decoration: none;
}

.loginOrRegisterPrompt a:hover,
.loginOrRegisterPrompt a:focus {
  color:  #E5E5E5;
  cursor: pointer;
}

.enter {
  background-color: rgb(17, 69, 243);
  color: aliceblue;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-size: 18px;
  width: 25%;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 600;
  cursor: pointer;
}

.enter:hover,
.enter:focus {
  background-color: rgb(238, 122, 13);  
  border: 3px solid #E5E5E5;
  cursor: pointer;
}

.browse-header {
  letter-spacing: 0.4em;
  text-shadow:2px 2px rgb(71, 93, 218);
  color: rgb(238, 122, 13);  
  font-weight: 700;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

/*-------------------------------*/
/*      Sign Up Form
/*-------------------------------*/
.sign-up-fieldset {
  margin: auto;
  width: 40%;
  background-color: rgb(255, 228, 196)
}

.sign-up-fieldset input {
  display: block;
}


.signup-btn {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(150, 48, 48);
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: rgb(238, 122, 13);  
  cursor: pointer;
}
/*-------------------------------*/
/*      Add Category Btn
/*-------------------------------*/

.add-category-btn {
  text-transform: uppercase;
  margin-top: 40px;
}

.add-btn-box {
  text-align: center;
}

.add-category-btn:hover,
.add-category-btn:focus {
  background-color: rgb(238, 122, 13); 
  cursor: pointer;
}

/*-------------------------------*/
/*   Category Form
/*-------------------------------*/

.hidden {
  visibility: hidden;
  position: absolute;
}

.categoryFieldset {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-color: rgb(146, 56, 56);
}

.categoryFormBtns {
  background-color: beige;
  display: inline-block;
}

.label-for-ex {
  color: #fff;
  letter-spacing: 0.1em;
  /* text-shadow: 0 1px 0 rgb(255, 129, 12),
  0 2px 0 #fa8e04,
  0 3px 0 rgb(248, 132, 0),
  0 4px 0 #dd8028,
  0 5px 0 rgb(230, 130, 16),
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */
}

.addCategoryTitleToVidSect {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.4em;
  color: rgb(238, 122, 13);  
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000,
               0 2px 0 #000,
               0 3px 0 #000,
               0 4px 0 #000,
               0 5px 0 #000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 8px rgba(0,0,0,.25),
               0 8px 10px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
}

.add-video-btn,
.save-category-btn,
.delete-category-btn {
  color: #E5E5E5;
  background-color: rgb(17, 69, 243);
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.add-video-btn:hover,
.save-category-btn:hover,
.delete-category-btn:hover {
  background-color: rgb(238, 122, 13);  
  cursor: pointer; 
}

.add-video-btn:focus,
.save-category-btn:focus,
.delete-category-btn:focus {
  background-color: rgb(238, 122, 13);  
  cursor: pointer; 
}

.category-description {
  height: 9em;
  font-size: 0.9em;
}

.ex-desc-input-field {
  text-align: center;
}

.ex-desc-input-field1 {
  text-align: center;
  background-color: rgb(238, 122, 13);
  border: 4px solid #000;
  margin-top: 25px;
}

.commentBody {
  width: 59em;
  height: 4.5em;
  font-size: 0.8em;
}

.commentSaveBtn {
  color: #E5E5E5;
  padding: 12px;
  font-size: 85%;
  background-color: rgb(238, 122, 13);  
  border-radius: 50%;
}

.commentSaveBtn:hover,
.commentSaveBtn:focus {
  background-color: rgb(150, 48, 48);;  
  cursor: pointer; 
}

.video-title {
  color: #E5E5E5;
}
/*----------------------------*/
/*  1ST COMMENT SECTION
/*----------------------------*/
.a-login{
  color: #fa8e04;
}

.a-login:hover,
.a-login:focus {
  color: rgb(6, 31, 252);
  cursor: pointer;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea,
#respond p {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}

.comment-author,
.comment-date {
  color: rgb(238, 122, 13);
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff;
  letter-spacing: 0.1em;
}

/*----------------------------*/
/*  REST OF COMMENTS
/*----------------------------*/

.comment-container .comment {
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}


.status {
  padding: 2px;
  font-size: 16px;
}

.status:hover,
.status:focus {
  cursor: pointer;
}

.status-col {
  margin: 15px 0px;
}

.status-content {
  color: rgb(238, 122, 13);
  letter-spacing: 0.1em;
}

h5 {
  font-size: 0.9em;
}

.pickerContentOnForm {
  margin-left: 1.8em;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgb(238, 122, 13);
  text-align: center;
  /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;  */
}

.clickBelow {
  margin-top: 2em;
  margin-left: 2em;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

input[type='checkbox']:hover,
input[type='checkbox']:focus {
  cursor: pointer;
}

.categoryOnForm {
  background-color: rgb(238, 122, 13);
  margin-bottom: 25px;
  overflow: auto;
}

.float-left {
  float: left;
  margin: 10px 0 10px 10px;
  box-sizing: content-box;
}

.float-right {
  float: right;
  margin: 10px 10px 10px 0;
  box-sizing: content-box;
}

.video-controls {
  background-color: #E5E5E5;
}

.watchVideo,
.deleteVideo {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(150, 48, 48);
}

watchVideo:hover,
watchVideo:focus,
deleteVideo:hover,
deleteVideo:focus,
 {
  background-color: rgb(238, 122, 13);  
}

/*-------------------------------*/
/*   USER CATEGORY PAGE
/*-------------------------------*/
.usernameHeader {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
  letter-spacing: 0.4em;
  color: rgb(238, 122, 13);  
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
}

.allCategoryPageHeader{
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.4em;
  text-shadow: 2px 2px rgb(238, 122, 13);
  color: rgb(150, 48, 48);
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
}
/*-------------------------------*/
/*   Login Buttons & Styles
/*-------------------------------*/
.logIn {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(150, 48, 48);
}

.logIn:hover,
.logIn:focus {
  background-color: rgb(238, 122, 13); 
  cursor: pointer;  
}

.login-fieldset {
  width: 40%;
  margin: 25px auto;
  background-color: bisque;
}

.login-fieldset input {
  display: block;
}

/*-------------------------------*/
/*   Sign Up Form Style
/*-------------------------------*/
#sign-up-form {
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

label {
  color: rgb(238, 122, 13);
  margin-top: 25px;
  padding: 10px;
  font-size: 125%;
}

input {
  margin: 10px;
  padding: 5px;
}

/*----------------------*/
    /*Pop Up Window*/
/*----------------------*/

.popup{
    background-color:black;
    position: absolute;
    border: solid 2px white;
    width: 575px;
    min-height:auto;
    z-index:5000;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}
.overlayBg{
    background-color:#333;
    opacity: 0.5;
    position: absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
}

img {
  width: 100%;
}

p {
  margin: 10px;
}

#output {
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

.tokenClass {
  padding: 10px;
  font-size: 18px;
  background-color: rgb(105, 5, 5);
  color: #E5E5E5;
}

.tokenClass:hover,
.tokenClass:focus {
  cursor: pointer;
  background-color:  rgb(238, 122, 13);
}

/*------------------------------------------*/
/*         VideoPicker Style
/*------------------------------------------*/

.vidPickerSearchSection {
  display: inline-block;
}

.prevPage {
  float: left;
  margin-right: 45px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.nextPage {
  float: right;
  margin-left: 45px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.button.tokenClass.next{
  margin-left: 45px;
  margin-bottom: 20px;
}

.vid-picker-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  color:rgb(238, 122, 13);
  text-shadow: 2px 2px  rgb(6, 31, 252);
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
}
  
  
  .vid-picker-content {
  color: #E5E5E5;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-size: 125%;
}

.video-search-input {
  margin: 10px 0px 25px 5px;
}


.video-result {
  background-color: rgb(238, 122, 13);
} 


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*------------------------------------------*/
/* Video Section */
/*------------------------------------------*/
.video {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  height: 177px;
}

.video-content {
  padding: 20px;
}

.video-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.video-content p {
  margin: 0.5em 0;
}

.checked {
  color: rgb(238, 122, 13); 
}

.preview-video,
.select-video-btn {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(150, 48, 48);
}

.preview-video:hover,
.preview-video:focus,
.select-video-btn:hover,
.select-video-btn:focus,
 {
  background-color: rgb(238, 122, 13);  
}

/*------------------------------------------*/
/*         YouTube Results Page
/*------------------------------------------*/

.category {
  margin-bottom: 30px;
  padding-top: 8px;
  background-color: rgb(238, 122, 13);
  border: 5px solid #E5E5E5;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20em;
}

img.category-image {
  margin-top: 8px;
}

.category-show {
  font-size: 20px;
  color: rgb(154, 31, 31);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-left: 0.6em;
}

a.category-show {
  text-decoration: none;
}

.category-show:hover,
.category-show:focus {
  color: #E5E5E5;
  cursor: pointer;
}

.user-category-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(151, 57, 57);
  text-shadow: 2px 2px  rgb(243, 1, 1);
  font-weight: 700;
  letter-spacing: 0.2em;
}

.video-result .select-video-btn {
  display: inline;
}

.video-result .unselect-video-btn {
  display: none;
}

/*------------------------------------------*/
/*       BUTTONS -- Video Result
/*------------------------------------------*/

.video-search-btn {
  background-color: rgb(238, 122, 13);  
  padding:8px;
  font-size: 16px;
  color: #E5E5E5;
  text-transform: uppercase;
} 
.closePickerBtn {
  background-color: rgb(228, 88, 88);
  padding: 8px;
  font-size: 16px;
  color: #E5E5E5;
  text-transform: uppercase;
}
.addVideosToProfileBtn {
  background-color: rgb(238, 122, 13);
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 11px;
  font-size: 22px;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
} 

.video-search-btn:hover,
.closePickerBtn:hover,
.addVideosToProfileBtn:hover {
  cursor: pointer;
  border: 3px solid white;
}

.video-search-btn:focus,
.closePickerBtn:focus,
.addVideosToProfileBtn:focus {
  cursor: pointer;
  border: 3px solid white;
}

button.unselect-video-btn {
  color: #E5E5E5;
  padding: 8px;
  font-size: 85%;
  background-color: rgb(238, 122, 13);
}

.youtubeVideo {
  background-color: rgb(128, 80, 80);
  margin-bottom: 20px;
}

.video-result.selected .select-video-btn {
  display: none;
}

.video-result.selected .unselect-video-btn {
  display: inline;
}

.vid-selected {
  opacity: 0.3;
}

.myButton {
  border-top: 1px solid #ed790d;
  background: #5a130c;
  background: -webkit-gradient(linear, left top, left bottom, from(#5a1317), to(#5a130c));
  background: -webkit-linear-gradient(top, #5a1317, #5a130c);
  background: -moz-linear-gradient(top, #5a1317, #5a130c);
  background: -ms-linear-gradient(top, #5a1317, #5a130c);
  background: -o-linear-gradient(top, #5a1317, #5a130c);
  padding: 14.5px 29px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 19px;
  /* font-family: Georgia, serif; */
  text-decoration: none;
  vertical-align: middle;
}
.myButton:hover {
  border-top-color: #ee7a0d;
  background: #ee7a0d;
  color: #ccc;
}
.myButton:active {
  border-top-color: #ee7a0d;
  background: #ee7a0d;
}



/*------------------------------------------*/
/*       Footer
/*------------------------------------------*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

/*------------------------------------------*/
/*      RESPONSIVE  TOPNAV
/*------------------------------------------*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 640px) {
  .topnav a:not(:first-child){display:none;}
  .logo-container {display: none;}

  .topnav a.icon {
    float: right;
    display: block;
  }

  .intro-title {
    font-size: 1.6em;
  }

  .intro-content {
    line-height: 2.0em;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
}

/*------------------------------------------*/
/*      RESPONSIVE IFRAME/POPUP
/*------------------------------------------*/
@media screen and (max-width: 600px){
  .popup {
    width: 450px;
  }

  iframe {
    width: 450px;
  }
}

@media screen and (max-width: 487px){
  .popup {
    width: 300px;
  }

  iframe {
    width: 300px;
  }
}

/*------------------------------------------*/
/*      RESPONSIVE INTRO PAGE
/*------------------------------------------*/

@media screen and (max-width: 620px){
  .enter {width: 35%;}

  .intro-title {margin-top: 25;}
}
@media screen and (max-width: 511px){
  .intro-title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 455px){
  .enter {width: 45%;}
}

@media screen and (max-width: 361px){
  .enter {width: 52%;}
}


/*------------------------------------------*/
/*     RESPONSIVE USER/ALL CATEGORIES PAGE
/*------------------------------------------*/

@media screen and (max-width: 640px){
  .category {
    height: auto;
  }

  .category-show,
  img {
    display: block;
    width: 100%;
  }
}
 

/*------------------------------------------*/
/*     RESPONSIVE STYLES CATEGORY FORM 
/*------------------------------------------*/

/*-------Category-Description TEXTAREA--------------*/
@media screen and (max-width: 620px){
  .category-description {
    width: 25em;
  }
}

@media screen and (max-width: 485px){
  .category-description {
    width: 20em;
  }
}

@media screen and (max-width: 400px){
  .category-description {
    width: 15em;
  }
}
/*----------------------------------------*/

/*------------------------------------------*/
/*------- VIDEOS ON CATEGORY FORM---------
/*------------------------------------------*/

@media screen and (max-width: 750px){
   .watchVideo,
   .deleteVideo {
    font-size: 70%;
    
   }
}

@media screen and (max-width: 640px){
  .watchVideo,
  .deleteVideo {
   text-transform: uppercase;
   padding: 12px;
   font-weight: 700;
  }
}

/*--------------------------------------*/
/*     SAVE AND DELETE TECH BTNS
/*--------------------------------------*/

@media screen and (max-width: 710px){
  .save-category-btn,
  .delete-category-btn {
    padding: 12px;
    font-size: 17px;
  }
}

@media screen and (max-width: 564px){
  .save-category-btn, .delete-category-btn {
    padding: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 525px){
  .save-category-btn, .delete-category-btn {
    padding: 8px;
    font-size: 14px;
  }
}




/*-----------------------------------*/
/*-------ADD CATEGORY BUTTON---------
/*-----------------------------------*/


@media screen and (max-width: 580px){
  .mybutton{
    font-size: 16px;
  }

  .add-category-btn {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 411px){
  .add-category-btn {
    margin-top: 18px;
    margin-bottom: 25px;
  }

  .myButton {
    font-size: 17px;
  }

  .usernameHeader {
    margin: 0;
    margin-bottom: 25px;
  }
}
