*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

#sign-up-form {
  width: 70%;
  height: 400px;
}

label {
  margin: 10px;
  padding: 10px;
}
/*------------------------------------------*/
/*         Nav-Bar Section */
/*------------------------------------------*/
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(6, 31, 252);
  overflow: auto;
  margin-bottom: 15px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}
/*-------------------------*/
/* *Add Exercise Form */
/*-------------------------*/
.add-exercise-form {
  background-color: #555;
  color: bisque;
}

/*------------------------------------------*/
/* Video Section */
/*------------------------------------------*/
.video {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
}

.video-content {
  padding: 20px;
}

.video-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.video-content p {
  margin: 0.5em 0;
}

.checked {
  color: orange;
}

/*------------------------------------------*/
/* Overlay Pop Up Section */
/*------------------------------------------*/

/*----------------------*/
    /*Pop Up Window*/
/*----------------------*/

.popup{
    background-color:black;
    position: absolute;
    border: solid 2px white;
    width: 575px;
    min-height:auto;
    z-index:5000;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    left:0px;
    right:0px;
}
.overlayBg{
    background-color:#333;
    opacity: 0.5;
    position: absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:100%;
    min-height:100%;
}

img {
  margin:10px;
}

p{
  margin: 10px;
}

#output {
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

.button-options {
  display: block;
}

.tokenClass {
  margin-right: 40px;
  margin-left: 40px;

}

/* .col {
  background-color: #D0E892;
} */

/*------------------------------------------*/
/*         Landing Page Section */
/*------------------------------------------*/
.introduction-page {
  text-align: center;
}

.login-btn {
  background-color: rgb(17, 69, 243);
  color: aliceblue;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(238, 122, 13);  
  padding: 10px;
  font-size: 18px;
}
/* a:link,
a:visited {
	color: #dd4b39;
	text-decoration: none;
	border-bottom: 1px solid #d34d43;
	padding-bottom: 1px;
	-webkit-transition: border-bottom 0.2s; transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
	color: rgb(106, 155, 211);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	padding-bottom: 1px;
} */


.exercise {
  background-color: rgb(238, 122, 13);
  overflow: hidden;
}

.exercise-show {
  font-size: 20px;
  color: rgb(238, 232, 224);
}

.video-result {
  margin: 2px;
  background-color: rgb(238, 122, 13);
}

.vid-selected {
  opacity: 0.3;
}



/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

